# =============================================================================
# @file    requirements-dev.txt
# @brief   Python dependencies for Zoinks for development & testing
# @created 2023-04-02
# @license Please see the file named LICENSE in the project directory
# @website https://github.com/caltechlibrary/zoinks
# =============================================================================

-r requirements.txt

twine
pyinstaller >= 6.3.0

pytest      >= 7.3.0
pytest-cov  >= 4.1.0
pytest-mock >= 3.12.0
