# =============================================================================
# @file    requirements.txt
# @brief   Python dependencies for Zoinks
# @created 2021-10-16
# @license Please see the file named LICENSE in the project directory
# @website https://github.com/mhucka/zoinks
# =============================================================================

aenum      == 3.1.15
appscript  == 1.2.2
commonpy   == 1.13.0
plac       == 1.4.2
requests   == 2.31.0
sidetrack  == 2.0.1
setuptools >= 69.0.0
uritools   == 4.0.2

